body {
    background-color: black;
    color: white;
    text-align: center;
    
}

ul {
    display: inline-block;
    text-align: center;
}

#bottom-link {
    position: absolute;
    bottom: 10px;
    width: 100%;
}